*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container-2-cards{
    padding-top: 56px;
    
}
.main-2{
    width: 100%;
    max-width: 1920px;
    display: flex;

    .main-2-cards{
        padding-bottom:286px ;
        max-width:522px;  
        .company-information {
            width: 522px;
            height: 144px;
            top: 2689px;
            left: 394px;
            gap: 0px;
            opacity: 0px;
            font-family: Inter;
            font-size: 24px;
            font-weight: 300;
            line-height: 36px;
            letter-spacing: -0.01em;
            text-align: left;
            color:rgba(189, 196, 209, 1);
            margin-bottom: 32px;
            span{
                color:rgba(239, 241, 246, 1);
            }
        } 
        .information-about-the-employee{
            display:flex;
            justify-content: start;
            align-items: center;
            margin: 0;
            .employee-photo{
                width:44px;
                border: none;
                margin: 0;
            }
            .name{
                font-family: Inter;
                font-size: 18px;
                font-weight: 300;
                line-height: 22.5px;
                letter-spacing: -0.02em;
                text-align: left;
                color:white;
            }
            .employee{
                font-family: Inter;
            font-size: 15px;
            font-weight: 300;
            line-height: 18.75px;
            letter-spacing: -0.02em;
            text-align: left;
            color:rgba(189, 196, 209, 1);
            }
        }
    }
}
.section-2{
    padding-top: 32px;
    h2{
        font-family: Aeonik;
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -0.01em;
    text-align: center;
    color: linear-gradient(90deg, rgba(109, 156, 246, 0.7) -8.51%, rgba(195, 214, 251, 0.876516) 10.33%, #FFFFFF 51.91%, rgba(208, 223, 252, 0.90333) 87.66%, rgba(109, 156, 246, 0.7) 109.79%);
padding-bottom: 20px;
    }
    p{
    max-width:716px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(189, 196, 209, 1);
    padding-bottom :32px;
    }

    .section-2-buttons{
        max-width: 336px;

        border-radius: 40px 0px 0px 0px;
        border: 1px 0px 0px 0px;
       display: flex;
       justify-content:space-between ;
       padding-bottom: 176px;
        .button-1{
            width:164px;
            padding: 16px 36px;
            border-radius: 40px ;
            background: rgba(36, 59, 185, 1);
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 16px;
            text-align: left;
            color: white;
            border: none;
            outline: none;

        }
        .button-2{
            width:155px;
            padding: 16px 36px 16px 36px;
            border-radius: 40px;
            border: none;
            outline: none;
            background: rgba(36, 59, 185, 0.2);
            font-size: 16px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: -0.02em;
            text-align: left;
            color:white;
            
        }
    }
}
.footer{
    display: flex;
    color:white;
    .twitter{
        display:flex;
        padding-bottom: 12px;
    }
    .linkedin{
        display:flex;
    }
    .git-hub{
        display:flex;
        padding: 12px 0px;
    }
    .discoures{
        display:flex;
    }
}
.column{
    padding-top:48px;
    padding-bottom: 51px;
    h3{
        
        padding-bottom: 16px;
    }
    p{
        font-family: Inter;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: -0.02em;

color: rgba(189, 196, 209, 1);

    }
}